[submodule "yuval/Polymorphisms"]
	path = yuval/Polymorphisms
	url = https://www.github.com/YuvalFilmus/Polymorphisms
[submodule "yuval/Domino"]
	path = yuval/Domino
	url = https://github.com/YuvalFilmus/Domino.git
[submodule "yuval/Periodicity2"]
	path = yuval/Periodicity2
	url = https://github.com/YuvalFilmus/Periodicity2.git
[submodule "lean-tutorial"]
	path = elad-lean-tutorial
	url = https://github.com/Eladkay/lean-tutorial
